data/
.ipynb_checkpoints/
__pycache__/
models/
charlie/temp
data.zip
source/joeyData/
source/temp/
source/transcripts_friends/
source/data/
documentation/report/main.aux
documentation/report/main.bbl
documentation/report/main.blg
documentation/report/main.log
documentation/report/main.out
documentation/report/main.synctex.gz
